/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(190, 185, 185);
  --color-five: rgba(214, 225, 228, 0.322);
  --color-seven: rgba(101, 216, 24, 0.288);
  --color-eight: rgba(47, 82, 196, 0.188);
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

:focus {
  outline: none;
  background: var(--color-four);
}

::-moz-focus-inner {
  border: 0;
}

.debug {
  outline: 1px solid red;
}
html,
body {
  font-family: "Lato-Regular";
  font-weight: 100;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1.4rem;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  background: white;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

img {
  max-width: 90vw;
  height: auto;
  display: block;
}

img[src=""] {
  display: none;
}

img[src=" "] {
  display: none;
}

button {
  font-size: 1rem;
  background: rgb(255, 255, 255);
  padding: 7px;
  width: 90vw;
  margin: 0 0 15px 5vw;
  color: black;
  border-radius: 10px;
  border: 3px solid gray;
}

button:focus {
  background: orange;
  border: 0px solid gray;
}

select {
  width: 90%;
  padding: 10px;
  margin: 10px 5% 0px 5%;

  /* styling */
  background-color: white;
  border: thin solid rgb(56, 56, 66);
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  text-align: center;

  /* reset */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  height: 30px;
  width: 90%;
  padding: 3px;
  border: 1px solid silver;
}

input {
  width: 90%;
  height: 30px;
  padding: 3px;
  border: 1px solid silver;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
}
.input-parent {
  padding: 10px;
  margin: 0 0 20px 0;
}

.input-parent:focus {
  background: orange;
}
div#intro {
  position: fixed;
  background: black;
  z-index: 100000;
  min-width: 100%;
  height: 100%;
  animation-name: intro;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div#intro img {
  width: 180px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -90px;
  animation-name: intro_img;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes intro_img {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-450px);
  }
}

@keyframes intro {
  from {
    transform: translateY(0px);
    display: block;
    opacity: 100;
  }
  to {
    transform: translateY(0px);
    display: none;
    opacity: 0;
  }
}

#KaiOsAd {
  height: 200px;
  width: 240px;
}

#KaiOsAds-Wrapper {
  padding: 10px;
}

#KaiOsAds-Wrapper iframe {
  width: 220px;
}

ul#keys li span {
  display: inline-block;

  min-width: 60px;
  width: 60px;
  font-weight: bold;
}

ul#keys li {
  margin: 0 0 10px 0;
  padding: 5px 0 0 10px;
}

ul#keys {
  margin: 0 0 20px 0;
}

/*///////////////////////////
///TOAST////////////////*/

div#toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: black;
  color: white;
  z-index: 10;
  min-width: 100%;
  padding: 5px;
  top: 0px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(0px, -100px);
}

div#side-toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: none;
  color: white;
  z-index: 10;
  padding: 5px;
  top: 70vh;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(-100vw, 0px);
}

div#side-toast img {
  width: 60px;
}
/*///////////////////////////
///VIEWS////////////////*/

div#calendar {
  padding: 10px;
}

div#calendar h3 {
  margin: 0 0 5px 3px;
}

div#calendar div.calendar-head {
  background: var(--color-five);
  margin: 0 0 5px 0;
}

div#calendar div.calendar-head div {
  width: 13%;
  font-size: 0.8rem;
  text-align: center;
}
div#calendar div.calendar-head div:first-child {
  margin: 0 0 0 0px;
}

div#calendar div.calendar-body {
  padding: 0px;
  margin: 8px 0 0 0;
}

div#calendar div#calendar-body div {
  min-width: 13%;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

div#calendar div#calendar-body div:focus {
  background: none;
}

div#calendar div#calendar-body div div {
  text-align: center;
  padding: 2px 0 0 0;
}

div#calendar div#calendar-body div div.today {
  background: pink;
}

div#calendar div#calendar-body :focus span {
  min-width: 10px;
  min-height: 10px;
  background: black;
  right: -5px;
  top: -5px;
  position: absolute;
  transform: rotate(45deg);
}

div#calendar div#calendar-body div div.event {
  background: var(--color-seven);
}

div#calendar div#calendar-body div div.subscription {
  background: var(--color-eight);
}

div#calendar div#calendar-body div div div.moon-phase-0 {
  background-image: url(../image/moon1.svg);
}

div#calendar div#calendar-body div div div.moon-phase-1 {
  background-image: url(../image/moon2.svg);
}

div#calendar div#calendar-body div div div.moon-phase-2 {
  background-image: url(../image/moon3.svg);
}

div#calendar div#calendar-body div div div.moon-phase-3 {
  background-image: url(../image/moon4.svg);
}

div#calendar div#calendar-body div div div.moon-phase-4 {
  background-image: url(../image/moon5.svg);
}

div#calendar div#calendar-body div div div.moon-phase-5 {
  background-image: url(../image/moon6.svg);
}

div#calendar div#calendar-body div div div.moon-phase-6 {
  background-image: url(../image/moon7.svg);
}

div#calendar div#calendar-body div div div.moon-phase-7 {
  background-image: url(../image/moon8.svg);
}

div#calendar div#calendar-body div div div[class^="moon-phase-"] {
  background-position: center;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: white;
  display: none;
}

div#calendar div#calendar-body div div div.active {
  display: block;
}

div#calendar div#calendar-body div div.today div.active {
  display: block;
  filter: sepia(100%);
}

span.weeknumber {
  color: silver;
  padding: 2px;
  font-size: 0.7rem;
  position: absolute;
  right: 0;
}

div#add-edit-event {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  height: 92vh;
  overflow: hidden;
}

/*add edit form*/

div#add-edit-event .item {
  margin: 0;
}
div#add-edit-event .item input {
  margin: 0 5vw 0 5vw;
}

div#add-edit-event button.item {
  margin: 0 5vw 10px 5vw;
}

div#form-image-wrapper {
  margin: 0 0 10px 0;
}

#event-notification-time-wrapper {
  padding: 0 0 20px 0;
  margin: 20px 0 30px 0 !important;
  position: relative;
}

#form-image-wrapper {
  background: none;
}

div#form-image-wrapper {
  width: 100%;
  padding: 5px;
}

div#form-image-wrapper img#form-image {
  min-width: 100%;
}

div#event-recur-wrapper {
  margin: 0 0 20px 0 !important;
}

button#delete-event {
  display: none;
}

button#export-event {
  display: none;
}

/*List view*/

div#list-view {
  position: absolute;
  z-index: 4;
  top: 0;
  display: none;
  padding: 5px;
  height: 92vh;
  overflow: hidden;
}

div#list-view article {
  margin: 0 0 15px 0;
}

div#list-view div.icons-bar {
  width: 50px;
  margin: 5px 0;
}

div#list-view div.icons-bar img {
  width: 15px;
  height: auto;
}

div#event-slider {
  position: relative;
  margin: 15px 0 0 0;
  height: 70px;
}
div#event-slider div.description {
  display: none;
}

div#event-slider div.date {
  opacity: 0;
  height: 0px;
}

div#event-slider div.icons-bar {
  position: absolute;
  left: 90%;
  width: 50px;
  margin: 5px 0;
}

div#event-slider article[data-alarm="none"] div.icons-bar img.bell {
  display: none;
}

div#event-slider div.icons-bar img {
  width: 15px;
  height: auto;
}

div#event-slider-indicator div div {
  background: rgb(121, 112, 112);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

div#event-slider-indicator div div.active {
  background: rgb(0, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

div#event-slider-indicator {
  margin: 3px 0 0 -10px;
}

div#event-slider article h2 {
  background: var(--color-five);
}

div#event-slider article {
  margin: 0 0 15px 0;
  font-size: 0.9rem;
  position: absolute;
  top: 0px;
  display: none;
}

div#event-slider article h2 {
  background: var(--color-five);
}

div#options {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  display: none;
  padding: 5px;
  height: 92vh;
  overflow: hidden;
  padding: 10px 0 0 0;
}

div#options div#import-text {
  padding: 10px;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-align: center;
  display: none;
}

div#options div#subscription-text {
  padding: 10px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
}

div#subscription-form {
  position: fixed;
  z-index: 5;
  bottom: 15px;
  display: none;
  height: 190px;
  background: white;
  border-top: 2px solid black;
}

/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
  position: fixed;
  z-index: 2000;
  bottom: 10px;
  left: 0px;
  height: 18px;
  z-index: 6;
  background: black;
  min-width: 100vw;
}

div#bottom-bar div#inner {
  position: relative;
}

div#bottom-bar div {
  background: black;
  color: white;
  padding: 2px;
  font-size: 0.8rem;
  text-align: center;
}

div#bottom-bar div#button-center {
  background: black;
  color: white;
  padding: 2px;
  width: 32%;
  text-align: center;
}

div#bottom-bar div#button-left {
  background: black;
  color: white;
  padding: 2px;
  width: 32%;
  text-align: left;
  width: 32%;
}

div#bottom-bar div#button-right {
  background: black;
  color: white;
  padding: 2px;
  width: 32%;
  text-align: right;
}

/*/////////////////
///TOP-BAR///////*/

div#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 18px;
  z-index: 4;
  background: black;
  min-width: 100vw;
  display: none;
}

div#top-bar img {
  margin: 3px 0 0 5px;
  max-height: 15px;
  color: white;
}

div#top-bar div#inner {
  position: relative;
}

div#top-bar div {
  background: black;
  color: white;
  padding: 2px;
}

div#top-bar div#button-center {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: center;
}

div#top-bar div#button-left {
  background: black;
  color: white;
  padding: 2px;
  width: 20px;
  text-align: left;
  width: 30%;
}

div#top-bar div#button-right {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: right;
}

/*
 SETTINGS
 */

div#top {
  position: fixed;
  top: 0;
}

div#settings {
  display: none;
  height: 92vh;
  width: 100%;
  padding: 0px 0 50px 0;
  overflow: hidden;
  position: absolute;
  top: 0px;
  z-index: 3;
  background: rgb(231, 231, 231);
}

div#settings div#text {
  margin: 0 0 20px 0;
}
div#settings h2 {
  padding: 0 10px 0 10px;
}

div#settings label {
  min-width: 80%;
  height: 30px;
  margin: 5px 5px 0 0;
}

#goodbye {
  position: fixed;
  z-index: 50000;
  left: 0;
  top: 0;
  background: black;
  color: white;
  font-size: 18px;
  padding: 70px 5px 5px 5px;
  display: none;
}

#ciao {
  padding: 5px;
  text-align: center;
  display: none;
}

#ciao ul {
  margin: 20px 0 0px 0;
}

#ciao ul li {
  margin: 0 0 0px 0;
  font-size: 14px;
  list-style: none;
}

#ciao ul li:first-child {
  color: yellow;
  margin: 0 0 5px 0;
}

#donation {
  padding: 5px;
  text-align: center;
  display: none;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}
