:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: #beb9b9;
  --color-five: #d6e1e452;
  --color-seven: #65d81849;
  --color-eight: #2f52c430;
}

@font-face {
  src: url("Roboto-Medium.18088f04.ttf");
}

*, :before, :after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  border: 0;
  margin: 0;
  padding: 0;
}

:focus {
  background: var(--color-four);
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.debug {
  outline: 1px solid red;
}

html, body {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4rem;
  position: relative;
  overflow: hidden;
}

h1, h2, h3 {
  font-size: 1rem;
}

img {
  max-width: 90vw;
  height: auto;
  display: block;
}

img[src=""], img[src=" "] {
  display: none;
}

button {
  width: 92vw;
  color: #000;
  min-height: 40px;
  background: #fff;
  border: 2px solid gray;
  border-radius: 1px;
  margin: 0 0 15px 5vw;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
}

button img {
  width: 20px;
  margin: 0 10px 0 0;
}

button:focus {
  background: #4285f4;
  border: 0 solid gray;
}

select {
  width: 90%;
  appearance: none;
  color: #363636;
  width: 90%;
  text-align: center;
  background: #fafafa url("E264.bce0b63c.svg") 99% 80% no-repeat;
  border: 0;
  border-bottom: 2px solid #3f3f3f;
  outline: 0;
  margin: 0 5%;
  padding: 10px;
  position: relative;
}

textarea {
  height: 30px;
  width: 90%;
  border: 1px solid silver;
  padding: 3px;
}

input {
  width: 90%;
  height: 30px;
  border: 2px solid silver;
  border-radius: 6px;
  padding: 3px;
}

label {
  width: 100%;
  text-align: center;
  margin: 0 0 10px;
  font-weight: bold;
  display: block;
}

.input-parent {
  width: 100%;
  margin: 0 0 20px;
  padding: 15px;
}

.input-parent:focus {
  width: 100%;
  background: orange;
}

.google-button {
  height: 40px;
  border: 0 solid gray;
  border-radius: 0;
  outline: 0;
  position: relative;
}

button.google-button:focus {
  outline: 3px solid #4285f4 !important;
}

.google-button span {
  padding: 5px;
  position: absolute;
  top: 4px;
  right: 10px;
}

.google-button img {
  width: 40px;
  position: absolute;
  top: 0;
  left: -1px;
}

.caldav-button img {
  width: 40px;
  position: absolute;
  top: 3px;
  left: -1px;
}

div#intro {
  z-index: 100000;
  min-width: 100%;
  height: 100%;
  background: #000;
  animation-name: intro;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: fixed;
}

div#intro #version {
  z-index: 100000;
  color: #fff;
  text-align: center;
  background: #000;
  font-size: .8rem;
  animation-name: intro_img;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 20px;
}

div#intro img {
  width: 180px;
  height: auto;
  margin-left: -90px;
  animation-name: intro_img;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 50px;
  left: 50%;
}

@keyframes intro_img {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-450px);
  }
}

@keyframes intro {
  from {
    opacity: 100;
    display: block;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    display: none;
    transform: translateY(0);
  }
}

@keyframes blink {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}

#icon-loading {
  visibility: hidden;
  height: 28px;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#KaiOsAd {
  height: 200px;
  width: 240px;
}

#KaiOsAds-Wrapper {
  padding: 10px;
}

#KaiOsAds-Wrapper iframe {
  width: 220px;
}

div#toast {
  height: auto;
  overflow: none;
  color: #fff;
  z-index: 10;
  min-width: 100%;
  transform-origin: 0 0;
  background: #000;
  padding: 5px;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 0;
  transform: translate(0, -100px);
}

div#side-toast {
  height: auto;
  overflow: none;
  color: #fff;
  z-index: 10;
  transform-origin: 0 0;
  background: orange;
  padding: 5px;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 70vh;
  transform: translate(-100vw);
}

div#side-toast img {
  width: 60px;
}

div#popup {
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: none;
  display: none;
  position: fixed;
}

div#popup div {
  justify-content: center;
  align-items: center;
  display: flex;
}

div#popup div div {
  background: orange;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
}

div.search-item {
  max-width: 100vw;
  background: silver;
  margin: 10px 0;
  padding: 3px 10vw;
}

div.search-item:focus {
  background: orange;
}

article.events[data-alarm="none"] img.bell {
  display: none;
}

div#calendar {
  padding: 10px;
}

div#calendar h3 {
  margin: 0 0 5px 3px;
}

div#calendar div.calendar-head {
  background: var(--color-five);
  margin: 0 0 5px;
}

div#calendar div.calendar-head div {
  width: 12%;
  text-align: center;
  font-size: .8rem;
}

div#calendar div.calendar-head div.active {
  color: #21c5aa;
  font-weight: bold;
}

div#calendar div.calendar-head div:first-child {
  margin: 0;
}

div#calendar div.calendar-body {
  margin: 8px 0 0;
  padding: 0;
}

div#calendar div#calendar-body div {
  min-width: 12.8%;
  text-align: center;
  border: 0;
  outline: 0 solid red;
  font-size: .8rem;
  position: relative;
  overflow: hidden;
}

div#calendar div#calendar-body div:focus {
  background: none;
  border: 0;
  outline: 0 solid red;
}

div#calendar div#calendar-body div div {
  text-align: center;
  background: #fff;
  padding: 2px 0 0;
}

div#calendar div#calendar-body div div.today {
  background: #78b7ff;
}

div#calendar div#calendar-body :focus span {
  min-width: 10px;
  min-height: 10px;
  background: #000;
  position: absolute;
  top: -5px;
  right: -5px;
  transform: rotate(45deg);
}

div#calendar div#calendar-body div div.event {
  background: pink !important;
}

div#calendar div#calendar-body div div.multievent {
  background: #ffa07a !important;
}

div#calendar div#calendar-body div div.subscription {
  background: #f5f5a9;
}

div#calendar div#calendar-body div div div.moon-phase-0 {
  background-image: url("moon1.fc1afde6.svg");
}

div#calendar div#calendar-body div div div.moon-phase-1 {
  background-image: url("moon2.bb5a5e35.svg");
}

div#calendar div#calendar-body div div div.moon-phase-2 {
  background-image: url("moon3.3004b616.svg");
}

div#calendar div#calendar-body div div div.moon-phase-3 {
  background-image: url("moon4.3d8cf016.svg");
}

div#calendar div#calendar-body div div div.moon-phase-4 {
  background-image: url("moon5.36565dfe.svg");
}

div#calendar div#calendar-body div div div.moon-phase-5 {
  background-image: url("moon6.a839ed96.svg");
}

div#calendar div#calendar-body div div div.moon-phase-6 {
  background-image: url("moon7.27daf613.svg");
}

div#calendar div#calendar-body div div div.moon-phase-7 {
  background-image: url("moon8.1692336e.svg");
}

div#calendar div#calendar-body div div div[class^="moon-phase-"] {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  display: none;
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
}

div#calendar div#calendar-body div div div.active {
  display: block;
}

div#calendar div#calendar-body div div.today div.active {
  filter: sepia();
  display: block;
}

span.weeknumber {
  color: silver;
  padding: 2px;
  font-size: .7rem;
  position: absolute;
  right: 0;
}

div#add-edit-event {
  z-index: 2;
  height: 92vh;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

div#add-edit-event .item {
  margin: 0;
}

div#add-edit-event .item input {
  margin: 0 5vw;
}

div#add-edit-event button.item {
  margin: 0 5vw 10px;
}

div#form-image-wrapper {
  margin: 0 0 10px;
}

#event-notification-time-wrapper {
  padding: 0 0 20px;
  position: relative;
  margin: 20px 0 30px !important;
}

#form-image-wrapper {
  background: none;
}

div#form-image-wrapper {
  width: 100%;
  padding: 5px;
}

div#form-image-wrapper img#form-image {
  min-width: 100%;
}

div#event-recur-wrapper {
  margin: 0 0 20px !important;
}

div#events-wrapper {
  z-index: 4;
  height: 98vh;
  width: 100vw;
  padding: 5px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

div#events-wrapper article {
  min-width: 100%;
  margin: 0 0 15px;
}

div#events-wrapper article:last-child {
  margin: 0 0 55px;
}

div#events-wrapper article[data-all-day="allDay"] div.icons-bar div.time, div#events-wrapper article[data-all-day=""] div.icons-bar div.allDay, div#events-wrapper article[data-all-day="true"] div.time {
  display: none;
}

div.icons-bar {
  margin: 5px 0 0;
}

div.icons-bar img {
  max-width: 15px;
  height: auto;
}

div#event-slider {
  min-height: 40px;
  margin: 15px 0 0;
  position: relative;
  max-width: 90vw !important;
  min-width: 90vw !important;
}

div#event-slider div {
  min-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  position: relative;
  overflow: hidden;
  max-width: 90vw !important;
  min-width: 90vw !important;
}

div#event-slider div.date {
  opacity: 0;
  height: 0;
}

div#event-slider div.icons-bar {
  width: 50px;
  margin: 5px 0;
  position: absolute;
  left: 90%;
}

div#event-slider article[data-alarm="none"] div.icons-bar img.bell {
  display: none;
}

div#event-slider div.icons-bar img {
  width: 15px;
  height: auto;
}

div#event-slider-indicator div div {
  height: 5px;
  width: 5px;
  background: #797070;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

div#event-slider-indicator div div.active {
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

div#event-slider-indicator {
  max-width: 90vw;
  min-width: 90vw;
  margin: 3px 0 0;
}

div#event-slider article h2 {
  background: var(--color-five);
}

div#event-slider article {
  max-width: 80vw;
  min-width: 80vw;
  margin: 0 0 15px;
  font-size: .9rem;
  display: none;
}

div#event-slider article > * {
  text-align: center;
  font-size: .9rem;
}

div#event-slider article:nth-child(1) {
  max-width: 90vw;
  min-width: 90vw;
  margin: 0 0 15px;
  font-size: .9rem;
  display: block;
}

div#event-slider article h2 {
  background: var(--color-five);
}

button.save-button {
  color: #fff;
  width: 90%;
  background: #000;
  border: none;
  outline: none;
  margin: 30px 5% !important;
}

button.save-button:focus {
  color: #000;
  background: orange;
  border: none;
  outline: none;
}

div#templates-page {
  z-index: 4;
  height: 92vh;
  padding: 0 5px 5px 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}

div#templates-page h2 {
  min-width: 100vw;
  width: 100vw;
  background: #e6e6e6;
  margin: 0 0 10px;
  padding: 10px;
  font-weight: bold;
}

div#options {
  z-index: 4;
  height: 92vh;
  padding: 0 5px 5px 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}

div#options div#import-text {
  text-align: center;
  margin: 0 0 20px;
  padding: 10px;
  font-weight: bold;
}

div#options div#subscription-text {
  text-align: center;
  margin: 0 0 10px;
  padding: 10px;
  font-weight: bold;
}

ul#keys li span {
  margin: 0;
  font-weight: bold;
  display: block;
}

div#options ul#keys li {
  margin: 0;
  padding: 5px 0 10px 10px;
}

div#options ul#keys:focus {
  background: #fff;
}

div#options ul#keys {
  margin: 0 0 20px;
}

ul#keys li:first-child {
  min-width: 100vw;
  width: 100%;
}

div#options h2 {
  min-width: 100vw;
  width: 100vw;
  background: #e6e6e6;
  margin: 0 0 10px;
  padding: 10px;
  font-weight: bold;
}

div#options li span.keys-day-event {
  min-width: 20px;
  width: 20px;
  background: pink;
  margin: 0 40px 0 0;
  padding: 5px;
}

div#options li span.keys-current-day {
  min-width: 20px;
  width: 20px;
  background: #78b7ff 0 0 / 10%;
  margin: 0 40px 0 0;
  padding: 5px;
}

div#subscription-form {
  z-index: 4;
  height: 100vh;
  width: 100vw;
  padding: 10px 0 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}

div#bottom-bar {
  z-index: 2000;
  height: 18px;
  z-index: 6;
  min-width: 100vw;
  background: none;
  position: fixed;
  bottom: 10px;
  left: 0;
}

div#bottom-bar div#inner {
  position: relative;
}

div#bottom-bar div {
  color: #fff;
  text-align: center;
  background: none;
  padding: 2px;
  font-size: .8rem;
}

div#bottom-bar div#button-center {
  color: #fff;
  width: 32%;
  text-align: center;
  background: none;
  padding: 2px;
}

div#bottom-bar div#button-center img {
  width: 30px;
  position: fixed;
  bottom: 5px;
  left: 46%;
}

div#bottom-bar div#button-left {
  color: #fff;
  width: 32%;
  text-align: left;
  width: 32%;
  background: none;
  padding: 2px;
}

div#bottom-bar div#button-left img {
  width: 30px;
  position: fixed;
  bottom: 5px;
  left: 10px;
}

div#bottom-bar div#button-right img {
  width: 30px;
  position: fixed;
  bottom: 5px;
  right: 10px;
}

div#bottom-bar div#button-right {
  color: #fff;
  width: 32%;
  text-align: right;
  background: none;
  padding: 2px;
}

div#top-bar {
  height: 18px;
  z-index: 4;
  min-width: 100vw;
  background: #000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

div#top-bar img {
  max-height: 15px;
  color: #fff;
  margin: 3px 0 0 5px;
}

div#top-bar div#inner {
  position: relative;
}

div#top-bar div {
  color: #fff;
  background: #000;
  padding: 2px;
}

div#top-bar div#button-center {
  color: #fff;
  width: 30%;
  text-align: center;
  background: #000;
  padding: 2px;
}

div#top-bar div#button-left {
  color: #fff;
  width: 20px;
  text-align: left;
  width: 30%;
  background: #000;
  padding: 2px;
}

div#top-bar div#button-right {
  color: #fff;
  width: 30%;
  text-align: right;
  background: #000;
  padding: 2px;
}

div#top {
  position: fixed;
  top: 0;
}

div#settings {
  height: 92vh;
  width: 100%;
  z-index: 3;
  background: #e7e7e7;
  padding: 0 0 50px;
  display: none;
  position: absolute;
  top: 0;
  overflow: hidden;
}

button span {
  margin: 0 0 0 10px;
}

div#settings div#text {
  margin: 0 0 20px;
}

div#settings h2 {
  padding: 0 10px;
}

div#settings label {
  min-width: 80%;
  height: 30px;
  margin: 5px 5px 0 0;
}

div#time {
  font-size: .8rem;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

